*{
    margin: 0;
    padding: 0;
  }
  
  #header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: lightgray;
  }
  
  .ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  li{
    list-style: none;
  }
  
  .cont {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }
  
  .product{
    text-align: center;
    padding: 20px;
  }
  
  .nombre-produ{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .form1{
    width: 100%;
    justify-content: center;
  }
  
  .btn-enviar{
    margin-inline: 47%;
  }
  .button-55 {
    margin-top: 1%;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 4px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  
  .toastt{
    background-color: #bfc3c78f;
    width: 100px;
    border: 1px solid darkgrey;
    position: fixed;
    top: 137px;
    height: 28px;
    margin-inline: 52%;
  }
  
  .toast2{
    background-color: #bfc3c78f;
    width: 305px;
    border: 1px solid darkgrey;
    position: fixed;
    top: 137px;
    height: 28px;
    margin-inline: 52%;
  }
  
  .producto-carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
  }
  .foto-carrito{
    width: 85px;
  }
  
  .botonCarrito{
    border: none;
    box-shadow: none;
    background: transparent;
  }
  
  .carrito-img{
    width: 20px;
  }
  
  .linkCarrito{
    color: black;
    text-decoration-style: none;
  }
  
  .titulos{
    text-align: center;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .btnCarrito{
      background: none;
      border: none;
  }